.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 48px;
  height: 60px;
  background: white;
}

.header a {
  color: var(--textTertiary);
  font-family: Domine;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  text-decoration: none;
}
