input {
  font-family: 'DM Sans';
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--backgroundPrimary);
  padding: 16px 12px;
  min-width: 230px;
  width: 100%;
  font-size: 16px;
  line-height: 21.6px;
}
::placeholder {
  color: var(--textSecondary);
  font-size: 16px;
  line-height: 21.6;
  font-family: 'DM Sans';
}

input:focus {
  border: 1px solid var(--primary);
  outline: none;
}

.inputHint {
  color: var(--textSecondary);
  font-size: 11px;
  line-height: 14.85px;
}

.accessibleInputHint {
  color: var(--textSecondary);
  font-size: 12px;
  line-height: 16.2px;
}

label {
  color: var(--textLabel);
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 18.9px;
}
