.message {
  border-bottom: 1.5px solid var(--borderPrimary);
  font-family: 'Public Sans';
  margin: 12px;
  padding-bottom: 12px;
}

.message > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul,
li {
  list-style: none;
  padding: 0rem;
}

.message h4 {
  color: var(--backgroundTertiary);
  font-size: 15px;
  line-height: 20px;
  margin: 0px;
}

li.message > p {
  color: var(--backgroundTertiary);
  font-size: 13px;
  line-height: 16px;
  margin: 0px;
  opacity: 62%;
}

li.message:last-of-type > p {
  font-size: 15px;
  line-height: 20px;
}
