:root {
  --primary: #808cff;
  --backgroundPrimary: #edeeff;
  --backgroundError: #ffe5e2;
  --textPrimary: #1b1c28;
  --textSecondary: #89898c;
  --textTertiary: #6978ff;
  --textLabel: #666666;
  --textButton: #f1f1f6;
  --error: #dd0f00;
}

html {
  box-sizing: border-box;
  margin: 0px 48px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Domine', 'DM Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

small {
  font-family: 'DM Sans';
}

.auth-main {
  margin-top: 60px;
  margin-bottom: 56px;
}

.dashboard-main {
  margin-top: 84px;
  margin-bottom: 56px;
}