:root {
  --primary: #808cff;
  --backgroundPrimary: #edeeff;
  --backgroundSecondary: #fafaff;
  --backgroundError: #ffe5e2;
  --backgroundSuccess: #dff4e0;
  --backgroundTertiary: #1d2247;
  --textPrimary: #1b1c28;
  --textSecondary: #89898c;
  --textTertiary: #6978ff;
  --textLabel: #666666;
  --textButton: #f1f1f6;
  --error: #dd0f00;
  --success: #098833;
  --textSidebar: #21233d;
  --borderPrimary: #dadae6;
}

html {
  box-sizing: border-box;
  margin: 0px 48px;
  background: var(--backgroundSecondary);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Domine', 'DM Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

button {
  cursor: pointer;
}

small {
  font-family: 'DM Sans';
}

.auth-main {
  margin-top: 60px;
  margin-bottom: 56px;
}

.dashboard-main {
  margin-top: 84px;
  transition: 0.3s;
  background: white;
  height: calc(100vh - 84px);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.dashboard-main.sidebar-open {
  margin-left: 257px;
  transition: 0.3s;
}
